/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
body {
  margin: 30px;
  word-break: break-word;
  font-size: 150%;
}

.hidden {
  display: none;
}

ol {
  /* list-style-type: upper-alpha; */
  list-style-type: none;
  /* background-color: red; */
}
/* 
body {
  /* background-color: purple; 
    no-repeat right bottom;
} */

div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background: url("images/groundhog.jpeg");
}

div.fixed img {
  max-width: 100%;
  max-height: 100%;
}

p {
  margin-bottom: 10px;
}
input {
  margin-top: 10px;
}
